body {
  overflow-x: hidden; }

#navbar {
  background-color: #eff8ff;
  font-family: "Barlow Condensed", sans-serif; }
  #navbar a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #1e75bb; }
    #navbar a:hover {
      font-weight: 600; }
  #navbar #toggler {
    color: #1e75bb; }
  #navbar #indexHeader,
  #navbar #nosotros,
  #navbar #servicios,
  #navbar #clientes,
  #navbar #contacto {
    font-weight: 700; }

#footer {
  background-color: #155D8D;
  font-family: "Barlow Condensed", sans-serif; }
  #footer a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 30px; }
    #footer a:hover {
      font-weight: 600; }
  #footer #indexFooter,
  #footer #nosotrosFooter,
  #footer #serviciosFooter,
  #footer #clientesFooter,
  #footer #contactoFooter {
    font-weight: 700; }
  #footer .copyright {
    color: white;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px; }
  #footer #nD {
    font-weight: 600;
    margin-right: 10px; }
  #footer #allRights {
    font-weight: 400;
    margin-left: 10px; }

section {
  font-family: "Barlow Condensed", sans-serif; }
  section #imagenBackground {
    position: relative; }
  section .texto1,
  section .texto2 {
    font-weight: 600;
    color: white; }
  section #textoClientes,
  section #textoContacto {
    font-weight: 600;
    color: #155D8D; }
  section h2 {
    color: #1e75bb; }
  section #articulo1,
  section #articulo2,
  section #articulo3 {
    background-color: #eff8ff;
    width: 380px;
    height: 534;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px; }
    section #articulo1:hover,
    section #articulo2:hover,
    section #articulo3:hover {
      box-shadow: 0 0 15px rgba(15, 15, 15, 0.397); }
  section #servicio1,
  section #servicio2,
  section #servicio3 {
    background-color: #eff8ff;
    width: 380px;
    height: 300;
    margin-bottom: 40px;
    border-radius: 10px; }
    section #servicio1:hover,
    section #servicio2:hover,
    section #servicio3:hover {
      box-shadow: 0 0 15px rgba(15, 15, 15, 0.397); }
  section #boton {
    background-color: #1e75bb;
    font-weight: 600;
    font-size: 1.7em;
    padding-right: 3rem;
    padding-left: 3rem;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: box-shadow .3s; }
    section #boton:hover {
      box-shadow: 0 0 11px rgba(15, 15, 15, 0.603); }
  section #botonContacto {
    background-color: #1e75bb;
    font-weight: 600;
    font-size: 1.2em;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: box-shadow .3s; }
    section #botonContacto:hover {
      box-shadow: 0 0 11px rgba(15, 15, 15, 0.603); }
  section #servicios {
    background-color: #eff8ff;
    padding-top: 40px;
    padding-left: 10px; }
  section #descripcion {
    font-size: 1.2em; }
  section #servicio:hover {
    color: #155D8D; }
  section #cuerpo {
    border-color: none; }
  section #comentario {
    font-size: 1em; }
  section .datosContacto {
    grid-area: datos;
    align-self: center; }
  section .horarioAtencion {
    font-size: 2em;
    font-weight: 700;
    color: #155D8D;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center; }
  section .textoAtencion {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px; }
  section .textoFormulario {
    font-size: 1.5em;
    font-weight: 500;
    text-align: justify; }
  section #contacto {
    background-color: #eff8ff;
    height: 590px; }
  section #formulario {
    width: 450px;
    background-color: #155d8d88;
    box-sizing: border-box;
    border-radius: 5px; }
  section #titulosForm {
    font-size: 1.5em; }
  section #emailHelp {
    color: white; }

@media screen and (min-width: 992px) {
  #footer a {
    font-size: 1.4em; }
  section .texto1 {
    position: absolute;
    top: 250px;
    left: 230px; }
  section .texto2 {
    position: absolute;
    top: 50%;
    left: 260px; }
  section #textoNosotros,
  section #textoServicios,
  section #textoClientes,
  section #textoContacto {
    padding-top: 50px;
    padding-left: 60px; }
  section h2 {
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 20px; }
  section h3 {
    font-weight: 600;
    font-size: 2em;
    color: #155D8D; }
  section h4 {
    font-weight: 400;
    font-size: 1.7em; }
  section p {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5; } }

@media screen and (max-width: 576px) {
  section .texto1 {
    position: absolute;
    top: 190px;
    left: 40px; }
  section .texto2 {
    position: absolute;
    top: 230px;
    left: 70px; }
  section #textoNosotros,
  section #textoServicios,
  section #textoClientes,
  section #textoContacto {
    position: absolute;
    top: 200px;
    left: 80px; }
  section h2 {
    font-weight: 700;
    font-size: 1.8em;
    padding-top: 20px; }
  section h3 {
    font-weight: 600;
    font-size: 1.6em;
    color: #155D8D; }
  section h4 {
    font-weight: 400;
    font-size: 1.3em; }
  section p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5; }
  section #foto {
    display: none; }
  section #coment1 {
    width: 450px; }
  section #contacto {
    height: auto;
    padding-bottom: 30px; }
  section #formulario {
    padding-bottom: 30px; }
  #footer a {
    font-size: 1em;
    justify-items: center;
    margin-left: 5px; }
  hr {
    display: none; } }
