body {
  overflow-x: hidden; }

#navbar {
  background-color: #eff8ff;
  font-family: "Barlow Condensed", sans-serif; }
  #navbar a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #1e75bb; }
    #navbar a:hover {
      font-weight: 600; }
  #navbar #toggler {
    color: #1e75bb; }
  #navbar #indexHeader,
  #navbar #nosotros,
  #navbar #servicios,
  #navbar #clientes,
  #navbar #contacto {
    font-weight: 700; }

#footer {
  background-color: #155D8D;
  font-family: "Barlow Condensed", sans-serif; }
  #footer a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 30px; }
    #footer a:hover {
      font-weight: 600; }
  #footer #indexFooter,
  #footer #nosotrosFooter,
  #footer #serviciosFooter,
  #footer #clientesFooter,
  #footer #contactoFooter {
    font-weight: 700; }
  #footer .copyright {
    color: white;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px; }
  #footer #nD {
    font-weight: 600;
    margin-right: 10px; }
  #footer #allRights {
    font-weight: 400;
    margin-left: 10px; }

main {
  font-family: "Barlow Condensed", sans-serif; }
  main h1 {
    color: #1e75bb; }
  main #articulo1,
  main #articulo2,
  main #articulo3 {
    background-color: #eff8ff;
    width: 380px;
    border-radius: 10px;
    height: 534;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px; }
    main #articulo1:hover,
    main #articulo2:hover,
    main #articulo3:hover {
      box-shadow: 0 0 15px rgba(15, 15, 15, 0.397); }
  main #servicio1,
  main #servicio2,
  main #servicio3 {
    background-color: #eff8ff;
    width: 380px;
    border-radius: 10px;
    height: 300;
    margin-bottom: 40px; }
    main #servicio1:hover,
    main #servicio2:hover,
    main #servicio3:hover {
      box-shadow: 0 0 15px rgba(15, 15, 15, 0.397); }
  main #boton, main #botonContacto {
    background-color: #1e75bb;
    font-weight: 600;
    font-size: 1.7em;
    padding-right: 3rem;
    padding-left: 3rem;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: box-shadow .3s; }
    main #boton:hover, main #botonContacto:hover {
      box-shadow: 0 0 11px rgba(15, 15, 15, 0.603); }
  main #botonContacto {
    font-size: 1.2em;
    padding-right: 2rem;
    padding-left: 2rem; }
    main #botonContacto:hover {
      box-shadow: 0 0 11px rgba(15, 15, 15, 0.603); }
  main #servicios {
    background-color: #eff8ff;
    padding-top: 40px;
    padding-left: 10px; }
  main #descripcion {
    font-size: 1.2em; }
  main #servicio:hover {
    color: #155D8D; }
  main #cuerpo {
    border-color: none; }
  main #comentario {
    font-size: 1em; }
  main .datosContacto {
    align-self: center; }
  main .horarioAtencion {
    font-size: 2em;
    font-weight: 700;
    color: #155D8D;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center; }
  main .textoAtencion {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px; }
  main .textoFormulario {
    font-size: 1.5em;
    font-weight: 500;
    text-align: justify; }
  main #contacto {
    background-color: #eff8ff;
    height: 590px; }
  main #formulario {
    width: 450px;
    background-color: #155d8d88;
    box-sizing: border-box;
    border-radius: 5px; }
  main #titulosForm {
    font-size: 1.5em; }
  main #emailHelp {
    color: white; }

@media screen and (min-width: 992px) {
  #footer a {
    font-size: 1.4em; }
  main #mobile {
    display: none; }
  main h1 {
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 20px; }
  main h3 {
    font-weight: 600;
    font-size: 2em;
    color: #155D8D; }
  main h4 {
    font-weight: 400;
    font-size: 1.7em; }
  main p {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5; } }

@media screen and (max-width: 596px) {
  main #desktop {
    display: none; }
  main h1 {
    font-weight: 700;
    font-size: 1.8em;
    padding-top: 20px; }
  main h3 {
    font-weight: 600;
    font-size: 1.6em;
    color: #155D8D; }
  main h4 {
    font-weight: 400;
    font-size: 1.3em; }
  main p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5; }
  main #foto {
    display: none; }
  main #coment1 {
    width: 450px; }
  main #contacto {
    height: auto;
    padding-bottom: 30px; }
  main #formulario {
    padding-bottom: 30px; }
  #footer a {
    font-size: 1em;
    justify-items: center;
    margin-left: 5px; }
  hr {
    display: none; } }
