@import "variables";
@import "tipografias";

@mixin color-width-border {
    background-color: $color-terciario;
    width: 380px;
    border-radius: 10px;
}

body {
    overflow-x: hidden;
}

#navbar {
    background-color: $color-terciario;
    font-family: $fuente;

    #logo {
        width: 40%;
    }

    a {
        text-decoration: none;
        font-family: $fuente;
        font-size: 1.8em;
        font-weight: map-get($font-wights, "regular");
        color: $color-primario;

        &:hover {
            font-weight: map-get($font-wights, "semibold");
        }
    }

    #toggler {
        color: $color-primario;
    }

    #indexHeader,
    #nosotros,
    #servicios,
    #clientes,
    #contacto {
        font-weight: map-get($font-wights, "bold");
    }

}

#footer {
    background-color: $color-secundario;
    font-family: $fuente;

    a {
        text-decoration: none;
        font-family: $fuente;
        font-weight: 400;
        color: white;
        margin-left: 30px;

        &:hover {
            font-weight: 600;
        }
    }

    #indexFooter,
    #nosotrosFooter,
    #serviciosFooter,
    #clientesFooter,
    #contactoFooter {
        font-weight: 700;
    }

    .copyright {
        color: white;
        font-size: 1em;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #nD {
        font-weight: 600;
        margin-right: 10px;
    }

    #allRights {
        font-weight: 400;
        margin-left: 10px;
    }


}

main {
    font-family: $fuente;

    h1 {
        color: $color-primario;
    }

    #articulo1,
    #articulo2,
    #articulo3 {
        @include color-width-border;
        height: 534;
        margin-top: 60px;
        margin-bottom: 60px;
        padding-top: 40px;
        padding-bottom: 40px;

        &:hover {
            box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
        }
    }

    #servicio1,
    #servicio2,
    #servicio3 {
        @include color-width-border;
        height: 300;
        margin-bottom: 40px;

        &:hover {
            box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
        }
    }

    #boton {
        background-color: $color-primario;
        font-weight: map-get($font-wights, "semibold");
        font-size: 1.7em;
        padding-right: 3rem;
        padding-left: 3rem;
        color: white;
        text-decoration: none;
        border-radius: 50px;
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0 0 11px rgba(15, 15, 15, 0.603);
        }
    }

    #botonContacto {
        @extend #boton;
        font-size: 1.2em;
        padding-right: 2rem;
        padding-left: 2rem;


        &:hover {
            box-shadow: 0 0 11px rgba(15, 15, 15, 0.603);
        }
    }

    #servicios {
        background-color: $color-terciario;
        padding-top: 40px;
        padding-left: 10px;
    }

    #descripcion {
        font-size: 1.2em;
    }

    #servicio {
        &:hover {
            color: $color-secundario;
        }
    }

    #cuerpo {
        border-color: none;
    }

    #comentario {
        font-size: 1em;
    }

    .datosContacto {
        align-self: center;
    }

    .horarioAtencion {
        font-size: 2em;
        font-weight: map-get($font-wights, "bold");
        color: $color-secundario;
        padding-bottom: 10px;
        padding-top: 30px;
        text-align: center;
    }

    .textoAtencion {
        font-size: 1.5em;
        font-weight: map-get($font-wights, "medium");
        text-align: center;
        padding-bottom: 10px;
    }

    .textoFormulario {
        font-size: 1.5em;
        font-weight: map-get($font-wights, "medium");
        text-align: justify;
    }

    #contacto {
        background-color: $color-terciario;
        height: 590px;
    }

    #formulario {
        width: 450px;
        background-color: #155d8d88;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #titulosForm {
        font-size: 1.5em;
    }

    #emailHelp {
        color: white;
    }

}

@media screen and (min-width: 992px){
    #navbar {
        background-color: $color-terciario;
        font-family: $fuente;

        #logo {
            width: 20vw;
        }
    }

    #footer {
        a {
            font-size: 1.4em;
        }

        #nD {
            font-size: 1em;
        }
    }

    main {
        #mobile {
            display: none;
        }

        h1 {
            font-weight: map-get($font-wights, "bold");
            font-size: 2.5em;
            padding-top: 20px;
        }

        h3 {
            font-weight: map-get($font-wights, "semibold");
            font-size: 2em;
            color: $color-secundario;
        }

        h4 {
            font-weight: map-get($font-wights, "regular");
            font-size: 1.7em;
        }

        p {
            font-weight: map-get($font-wights, "regular");
            font-size: 1.5em;
            line-height: 1.5;
        }

        #articulo1, #articulo2, #articulo3 {
            width: 30%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #servicio1, #servicio2, #servicio3 {
            width: 30%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #coment1 {
            width: 45%;
        }

    }
}

@media screen and (min-width: 780px) and (max-width: 992px){
    body {
        overflow-x: hidden;
    }

    #navbar {
        background-color: $color-terciario;
        font-family: $fuente;

        #logo {
            width: 30vw;
        }
    
        a {
            text-decoration: none;
            font-family: $fuente;
            font-size: 1.5em;
            font-weight: map-get($font-wights, "regular");
            color: $color-primario;
    
            &:hover {
                font-weight: map-get($font-wights, "semibold");
            }
        }
    }

    #footer {
        a {
            font-size: 1.4em;
        }

        #nD {
            font-size: 1em;
        }
    }

    main {
        #mobile {
            display: none;
        }

        h1 {
            font-weight: map-get($font-wights, "bold");
            font-size: 2em;
            padding-top: 20px;
        }

        h3 {
            font-weight: map-get($font-wights, "semibold");
            font-size: 1.8em;
            color: $color-secundario;
        }

        h4 {
            font-weight: map-get($font-wights, "regular");
            font-size: 1.5em;
            max-width: 80%;
            margin-left: 90px;
        }

        p {
            font-weight: map-get($font-wights, "regular");
            font-size: 1.2em;
            line-height: 1.5;
        }

        hr {
            display: none;
        }

        #contacto {
            height: auto;
            padding-bottom: 10px;
        }

        #formulario {
            padding-bottom: 5px;
        }

        #articulo1, #articulo2, #articulo3 {
            width: 30%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #servicio1, #servicio2, #servicio3 {
            width: 30%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #coment1 {
            width: 45%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 780px){
    #navbar {
        background-color: $color-terciario;
        font-family: $fuente;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        #logo {
            width: 30vw;
        }

        a {
            text-decoration: none;
            font-family: $fuente;
            font-size: 1em;
            font-weight: map-get($font-wights, "regular");
            color: $color-primario;
    
            &:hover {
                font-weight: map-get($font-wights, "semibold");
            }
        }
    }

    #footer {
        a {
            font-size: 1em;
        }

        #nD {
            font-size: 1em;
        }
    }

    main {
        #mobile {
            display: none;
        }

        h1 {
            font-weight: map-get($font-wights, "bold");
            font-size: 1.7em;
            padding-top: 20px;
        }

        h3 {
            font-weight: map-get($font-wights, "semibold");
            font-size: 1.4em;
            color: $color-secundario;
        }

        h4 {
            font-weight: map-get($font-wights, "regular");
            font-size: 1.3em;
            max-width: 80%;
            margin-left: 90px;
        }

        p {
            font-weight: map-get($font-wights, "regular");
            font-size: 1em;
            line-height: 1.5;
        }

        hr {
            display: none;
        }

        #contacto {
            height: auto;
            padding-bottom: 10px;
        }

        #formulario {
            padding-bottom: 5px;
        }

        #articulo1, #articulo2, #articulo3 {
            width: 80%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #servicio1, #servicio2, #servicio3 {
            width: 60%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #coment1 {
            width: 80%;
        }

        #foto {
            display: none;
        }
    }
}

@media screen and (max-width: 480px){
    #navbar {
        background-color: $color-terciario;
        font-family: $fuente;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        #logo {
            width: 50vw;
        }
    
        a {
            text-decoration: none;
            font-family: $fuente;
            font-size: 1.2em;
            font-weight: map-get($font-wights, "regular");
            color: $color-primario;
    
            &:hover {
                font-weight: map-get($font-wights, "semibold");
            }
        }
    }
    
    main {
        #desktop {
            display: none;
        }

        h1 {
            font-weight: 700;
            font-size: 1.8em;
            padding-top: 20px;
        }

        h3 {
            font-weight: 600;
            font-size: 1.6em;
            color: $color-secundario;
        }

        h4 {
            font-weight: 400;
            font-size: 1.3em;
        }

        p {
            font-weight: 400;
            font-size: 1em;
            line-height: 1.5;
        }

        #foto {
            display: none;
        }

        #coment1 {
            width: 80%;
        }

        #contacto {
            height: auto;
            padding-bottom: 30px;
        }

        #formulario {
            padding-bottom: 30px;
            width: 90%;
        }

        hr {
            display: none;
        }

        #articulo1, #articulo2, #articulo3 {
            width: 80%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }

        #servicio1, #servicio2, #servicio3 {
            width: 80%;
            margin-top: 20px;

            &:hover {
                box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
            }
        }
    }

    #footer {
        a {
            font-size: 1em;
            justify-items: center;
            margin-left: 5px;
        }

        #redes{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}